<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Добавить водителя</title>
</head>
<body>
<div th:insert="~{base :: site_navbar}"></div>
    <div class="container">

        <h1>Добавить водителя</h1>
        <hr/>
        <form th:action="@{/admin/driver/saveDriver}" th:object="${driver}" method="POST">
            <input type="text" th:field="*{name}" placeholder="Введите имя" class="form-control col-4 mb-4" required>
            <input type="text" th:field="*{surname}" placeholder="Введите фамилию" class="form-control col-4 mb-4" required>
            <input type="text" th:field="*{car.brand}" placeholder="Введите марку автомобиля" class="form-control col-4 mb-4" required>
            <input type="text" th:field="*{car.carNumber}" placeholder="Введите номер автомобиля" class="form-control col-4 mb-4" required>
            <select th:field="*{car.carType}" class="form-control col-4 mb-4" required>
                <option th:each="carTypeEnum : ${T(com.example.germes.entity.CarType).values()}"
                        th:value="${carTypeEnum.displayValue}" th:text="${carTypeEnum.displayValue}"></option>
            </select>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </form>
        <hr/>
        <a th:href="@{/admin/driver/list}">К списку водителей</a>

    </div>
</body>
<div th:insert="~{base :: site_footer}"></div>
</html>