<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Список водителей</title>
</head>
<body>

<div class="container">

    <h3>Список водителей</h3>
    <hr/>
    <a th:href="@{/admin/driver/addDriverForm}" class="btn btn-primary">Добавить водителя</a>
    <table class="table table-bordered table-striped" id="driversTable">

        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Марка машины</th>
            <th>Номер машины</th>
            <th>Тип машины</th>
            <th>Стоимость в час</th>
            <th>Выполняет заказ</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="driver: ${drivers}">
            <td th:text="${driver.name}" />
            <td th:text="${driver.surname}" />
            <td th:text="${driver.car.brand}" />
            <td th:text="${driver.car.carNumber}" />
            <td th:text="${driver.car.carType}" />
            <td th:text="${driver.car.pricePerKm}" />
            <td>
                <span th:if="${driver.isBusy}">Да</span>
                <span th:unless="${driver.isBusy}">Нет</span>
            </td>
            <td>
                <a th:href="@{/admin/driver/showUpdateForm(driverId=${driver.id})}" class="btn btn-info">Редактировать</a>

                <a th:href="@{/admin/driver/deleteDriver(driverId=${driver.id})}" class="btn btn-danger ml-2">Удалить</a>
            </td>
        </tr>
        </tbody>

    </table>
    <div th:insert="~{base :: to_main_page}"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#driversTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }],
            'language': {
                "decimal":        "",
                "emptyTable":     "Таблица пуста",
                "info":           "Показ водителей от _START_ до _END_ (Всего: _TOTAL_)",
                "infoEmpty":      "Показ от 0 до 0 из 0 водителей",
                "infoFiltered":   "(Результаты поиска из _MAX_ водителей)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Отображение _MENU_ водителей",
                "loadingRecords": "Загрузка...",
                "processing":     "Выполняется...",
                "search":         "Поиск:",
                "zeroRecords":    "Нет результатов",
                "paginate": {
                    "first":      "Первый",
                    "last":       "Последний",
                    "next":       "Следующий",
                    "previous":   "Предыдущий"
                },
                "aria": {
                    "sortAscending":  ": отсортировать по возрастанию",
                    "sortDescending": ": отсортировать по убыванию"
                }
            }
        });
    })
</script>
</body>

</html>