<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Назначить водителя</title>
</head>
<body>
<div class="container">
    <h1>Назначить водителя</h1>
    <hr/>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <h3>Информация о грузе</h3>
            <div>Подробное описание: </div>
            <p th:text="*{userOrder.description}"></p>
            <div th:object="${userOrder.cargo}">
                <p>Тип груза: <span th:text="*{cargoType}"></span></p>
                <p>Вес: <span th:text="*{weight}"></span> кг</p>
                <p>Длина: <span th:text="*{length}"></span> м</p>
                <p>Ширина: <span th:text="*{width}"></span> м</p>
                <p>Высота: <span th:text="*{height}"></span> м</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3>Параметры доставки</h3>
            <div th:object="${userOrder}">
                <p>Тип автомобиля: <span th:text="*{carType}"></span></p>
                <p>Дата отправки: <span th:text="*{dateOfDispatch}"></span></p>
                <p>Адрес отправки: <span th:text="*{startAddress}"></span></p>
                <p>Адрес прибытия: <span th:text="*{endAddress}"></span></p>
                <p>Дистанция транспортировки: <span th:text="*{distance}"></span> км.</p>
                <p>Длительность транспортировки: <span th:text="*{duration}"></span> мин.</p>
                <p>Оплата транспортировки: <span th:text="*{deliveryCost}"></span> р.</p>
            </div>
        </div>
    </div>
    <div>Список свободных водителей с автомобилем типа <span th:text="${userOrder.carType}"></span> на дату <span th:text="${userOrder.dateOfDispatch}"></span></div>
    <table class="table table-bordered table-striped" id="driversTable">

        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Марка машины</th>
            <th>Номер машины</th>
            <th>Тип машины</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="driver: ${freeDrivers}">
            <td th:text="${driver.name}" />
            <td th:text="${driver.surname}" />
            <td th:text="${driver.car.brand}" />
            <td th:text="${driver.car.carNumber}" />
            <td th:text="${driver.car.carType}" />
            <td>
                <a th:href="@{/driver_order/assignDriver(userOrderId=${userOrder.id}, driverId=${driver.id})}" class="btn btn-info">Назначить</a>
            </td>
        </tr>
        </tbody>

    </table>
    <a th:href="@{/driver_order/list}">К списку незакрытых заказов</a>
</div>
</body>
</html>