<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
  <title>Список оформленных заказов</title>
</head>
<body>
<div th:insert="~{base :: site_navbar}"></div>
<div class="container">
  <h1>Список оформленных заказов</h1>
  <hr/>
  <table class="table table-bordered table-hover" id="userOrdersTable">

    <thead class="thead-dark">
    <tr>
      <th>Тип груза</th>
      <th>Тип машины</th>
      <th>Плата за перевозку</th>
      <th>Длительность</th>
      <th>Статус</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userOrder: ${userOrders}">
      <td th:text="${userOrder.cargo.cargoType}" />
      <td th:text="${userOrder.carType}" />
      <td th:text="${userOrder.deliveryCost}" />
      <td th:text="${userOrder.deliveryCost}" />
      <td th:text="${userOrder.status}" />
      <td>
        <a th:href="@{/user/user_order/showUserOrderDetails(userOrderId=${userOrder.id})}" class="text-primary">Подробная информация</a>
      </td>
    </tr>
    </tbody>

  </table>
  <div th:insert="~{base :: to_main_page}"></div>
</div>
<div th:insert="~{base :: site_footer}"></div>
</body>
</html>