<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Список открытых заказов</title>
</head>
<body>
    <div class="container">
        <h1>Список открытых заказов пользователей</h1>
        <hr/>
        <a th:href="@{/user_order/addUserOrderForm}" class="btn btn-primary">Оформить заказ</a>
        <table class="table table-bordered table-striped" id="userOrdersTable">

            <thead>
            <tr>
                <th>id</th>
                <th>Тип груза</th>
                <th>Тип машины</th>
                <th>Плата за перевозку</th>
                <th>Длительность</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userOrder: ${userOrders}">
                <td th:text="${userOrder.id}" />
                <td th:text="${userOrder.cargo.cargoType}" />
                <td th:text="${userOrder.carType}" />
                <td th:text="${userOrder.deliveryCost}" />
                <td th:text="${userOrder.duration}" />
                <td>
                    <a th:href="@{/user_order/showUserOrderDetails(userOrderId=${userOrder.id})}" class="btn btn-info">Подробная информация</a>
                </td>
            </tr>
            </tbody>

        </table>
        <div th:insert="~{base :: to_main_page}"></div>
    </div>

</body>
</html>