<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Оплата заказа</title>
</head>
<body>
<div th:insert="~{base :: site_navbar}"></div>
    <div class="container">
        <h1>Оплата заказа</h1>
        <hr/>
        <form th:action="@{/user/user_order/saveUserOrder}" th:object="${userOrder}" method="POST" id="userOrderForm">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <h3>Информация о грузе</h3>
                    <label for="cargoType">Тип груза</label>
                    <input th:field="*{cargo.cargoType}" class="form-control mb-4" id="cargoType" readonly>
                    <label for="description">Краткое описание</label>
                    <textarea th:field="*{description}" class="form-control mb-4" id="description" rows="3" placeholder="Введите краткое описание груза" readonly></textarea>
                    <label for="weight">Вес, кг</label>
                    <input type="number" min="0" step="1" th:field="*{cargo.weight}" id="weight" placeholder="Введите вес груза" class="form-control mb-4" readonly>
                    <label for="length">Длина, м</label>
                    <input type="number" min="0" step="0.1" th:field="*{cargo.length}" id="length" placeholder="Введите длину груза" class="form-control mb-4" readonly>
                    <label for="width">Ширина, м</label>
                    <input type="number" min="0" step="0.1" th:field="*{cargo.width}" id="width" placeholder="Введите ширину груза" class="form-control mb-4" readonly>
                    <label for="height">Высота, м</label>
                    <input type="number" min="0" step="0.1" th:field="*{cargo.height}" id="height" placeholder="Введите высоту груза" class="form-control mb-4" readonly>
                    <h3>Параметры доставки</h3>
                    <label for="carType">Тип машины</label>
                    <input th:field="*{carType}" class="form-control mb-4" id="carType" readonly>
                    <label for="startAddress">Адрес отправки</label>
                    <input type="text" th:field="*{startAddress}" id="startAddress" placeholder="Введите адрес отправки" class="form-control mb-4" readonly>
                    <label for="endAddress">Адрес доставки</label>
                    <input type="text" th:field="*{endAddress}" id="endAddress" placeholder="Введите адрес получения" class="form-control mb-4" readonly>
                    <label for="datepicker2">Дата отправления</label>
                    <input type="text" th:field="*{dateOfDispatch}" name="dateTimeString" placeholder="Выберете дату отправки" class="form-control mb-4" id="datepicker2" readonly>
                    <label for="distance">Расстояние, км</label>
                    <input type="number" th:field="*{distance}" placeholder="Введите дистанцию" class="form-control mb-4" id="distance" readonly>
                    <label for="duration">Длительность, м</label>
                    <input type="number" th:field="*{duration}"  placeholder="Введите длительность транспортировки" class="form-control mb-4" id="duration" readonly>

                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="card px-4">
                        <p class="h8 py-3">Оплата картой</p>
                        <div class="row gx-3">
                            <div class="col-12">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Владелец</p>
                                    <input class="form-control mb-3" type="text" placeholder="IVAN IVANOV" maxlength="50" style="text-transform: uppercase" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Номер карты</p>
                                    <input class="form-control mb-3" type="text" placeholder="1234 5678 4356 1278" pattern="[0-9]{16}" minlength="16" maxlength="16" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">Срок действия</p>
                                    <input class="form-control mb-3" type="month" placeholder="month YYYY" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <p class="text mb-1">CVV/CVC</p>
                                    <input class="form-control mb-3 pt-2 " type="password" placeholder="***" minlength="3" maxlength="3" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="hidden" th:field="*{deliveryCost}">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Оплатить <span th:text="${userOrder.deliveryCost}"></span> р.</button>
                </div>
            </div>

        </form>
        <a href="#" onclick="history.go(-1)">Обратно к созданию заказа</a>
    </div>
</div>
<div th:insert="~{base :: site_footer}"></div>
</body>
</html>