<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: common_header(~{::title})">
    <title>Фирма грузоперевозок "Гермес"</title>
</head>
<body>
    <div th:insert="~{base :: site_navbar}"></div>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Фирма грузоперевозок "Гермес"</h1>
                <p>За время своей работы компания «Гермес» перевезла тонны грузов, были решены сложные логистические задачи. Выстроена и отлажена прозрачная схема доставок по всей России. Результатом работы компании остались довольны тысячи клиентов многие из которых стали постоянными клиентами.</p>
                <p><a class="btn btn-primary btn-lg" th:href="@{/user/user_order/addUserOrderForm}" sec:authorize="!hasRole('ADMIN')" role="button">Оформить заказ &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Надежность</h2>
                    <p>У нас действует система страхования грузовых перевозок, которая защищает ваш груз в случае возникновения форс-мажорных обстоятельств. <br> Профессиональные механики проверяют грузовики перед каждым выходом на линию. Водители и грузчики регулярно проходят медицинские осмотры.</p>

                </div>
                <div class="col-md-4">
                    <h2>Выгодная цена</h2>
                    <p>Стоимость наших услуг является наиболее выгодной на современном рынке перевозок. Мы устанавливаем невыоские цены, чтобы вы доверяли нам и могли выгодно оформить заказ на перевозку груза.</p>

                </div>
                <div class="col-md-4">
                    <h2>Доставка в срок</h2>
                    <p>Мы ценим и любим наших клиентов, поэтому мы делаем все идеально. Наши водители прошли сложный профессиональный отбор, и по праву могут зваться лучшими. <br> Это гарантирует, что с вашим грузом ничего не случиться и он будет доставлен в точно назначенное время</p>

                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>
    <div th:insert="~{base :: site_footer}"></div>
</body>
</html>