
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Список водителей</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />

</head>

<body>

<div class="container">

    <h3>Список водителей</h3>
    <hr/>
    <a th:href="@{/addDriverForm}" class="btn btn-primary">Добавить водителя</a>
    <table class="table table-bordered table-striped" id="driversTable">

        <thead>
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Выполняет заказ</th>
            <th>id машины</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="driver: ${drivers}">
            <td th:text="${driver.id}" />
            <td th:text="${driver.name}" />
            <td th:text="${driver.surname}" />
            <td>
                <span th:if="${driver.isBusy}">Да</span>
                <span th:unless="${driver.isBusy}">Нет</span>
            </td>
            <td th:text="${driver.car.id}" />

        </tr>
        </tbody>

    </table>
</div>

</body>

</html>